These are notes taken during a Brown Institute / Data Science event on Sep 25, 2018. The dataset used in this event/workshop is the Titanic data from [Kaggle](https://www.kaggle.com/).  
  
`dplyr` is part of `tidyverse` and it is recommended that we use `tidyverse` instead of just using `dplyr`. I'm using `dplyr` here because I didn't install `tidyverse` at the time of the event.

`dplyr` is great because of multiple reasons. For instance, it's fast, and it has piping.

## Basics

In [1]:
library(dplyr)
library(purrr)

Warning message:
“package ‘dplyr’ was built under R version 3.5.1”
Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

It seems that if you use `tidyverse` instead of `dplyr`, you'll do `read_csv` instead of `read.csv`.

In [2]:
# I downloaded the data directly from Kaggle
# and here I'm reading in the training dataset
titanic_df <- read.csv('./Titanic dataset/train.csv')

In [3]:
head(titanic_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [4]:
tail(titanic_df)

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

In [5]:
# dim means dimension
dim(titanic_df)

[1] 891  12

In [6]:
# getting one column
titanic_df['Survived']

    Survived
1   0
2   1
3   1
4   1
5   0
6   0
7   0
8   0
9   1
10  1
11  1
12  1
13  0
14  0
15  0
16  1
17  0
18  1
19  0
20  1
21  0
22  1
23  1
24  1
25  0
26  1
27  0
28  0
29  1
30  0
⋮   ⋮
862 0
863 1
864 0
865 0
866 1
867 1
868 0
869 0
870 1
871 0
872 1
873 0
874 0
875 1
876 1
877 0
878 0
879 0
880 1
881 1
882 0
883 0
884 0
885 0
886 0
887 0
888 1
889 0
890 1
891 0

Two other ways of doing the above:  
`titanic_df$Survived` is old-fashioned;  
`titanic_df[2]` is not recommended.

In [7]:
titanic_df[1,]

  PassengerId Survived Pclass Name                    Sex  Age SibSp Parch
1 1           0        3      Braund, Mr. Owen Harris male 22  1     0
  Ticket    Fare Cabin Embarked
1 A/5 21171 7.25       S

In [8]:
titanic_df[1, 'Survived']

[1] 0

## Four basic operations in `dplyr`

- **select**
- **filter**
- **arrange**
- **mutate**

### select

In [9]:
titanic_df_Survived <- select(titanic_df, Survived, Pclass)

In [10]:
# OR
titanic_df_Survived <- select(titanic_df, `Survived`, `Pclass`)
# note the backticks

In [11]:
# contd
# to drop columns, use the -c() notation
titanic_df_without_Name_and_Age <- select(titanic_df, -c(Name, Age))

### filter

In [12]:
df_kids <- filter(titanic_df, Age<10)

In [13]:
df_male_kids_survived <- filter(titanic_df, Age<10, Sex=="male", Survived==1)

In [14]:
df_small_kids_dead <- filter(titanic_df, Age<2, Survived==0)

In [15]:
select(df_small_kids_dead, Name)

  Name
1 Panula, Master. Eino Viljami
2 Goodwin, Master. Sidney Leonard

### arrange

In [16]:
# arrange
# sort df by a given column (or columns)
titanic_df_sorted <- arrange(titanic_df, Fare, Age)
head(titanic_df_sorted)

  PassengerId Survived Pclass Name                            Sex  Age SibSp
1 303         0        3      Johnson, Mr. William Cahoone Jr male 19  0
2 272         1        3      Tornquist, Mr. William Henry    male 25  0
3 180         0        3      Leonard, Mr. Lionel             male 36  0
4 823         0        1      Reuchlin, Jonkheer. John George male 38  0
5 807         0        1      Andrews, Mr. Thomas Jr          male 39  0
6 264         0        1      Harrison, Mr. William           male 40  0
  Parch Ticket Fare Cabin Embarked
1 0     LINE   0          S
2 0     LINE   0          S
3 0     LINE   0          S
4 0     19972  0          S
5 0     112050 0    A36   S
6 0     112059 0    B94   S

In [17]:
titanic_df_expensive <- arrange(titanic_df, desc(Fare), Age)
head(titanic_df_expensive)

  PassengerId Survived Pclass Name                               Sex    Age
1 259         1        1      Ward, Miss. Anna                   female 35
2 738         1        1      Lesurer, Mr. Gustave J             male   35
3 680         1        1      Cardeza, Mr. Thomas Drake Martinez male   36
4  28         0        1      Fortune, Mr. Charles Alexander     male   19
5  89         1        1      Fortune, Miss. Mabel Helen         female 23
6 342         1        1      Fortune, Miss. Alice Elizabeth     female 24
  SibSp Parch Ticket   Fare     Cabin       Embarked
1 0     0     PC 17755 512.3292             C
2 0     0     PC 17755 512.3292 B101        C
3 0     1     PC 17755 512.3292 B51 B53 B55 C
4 3     2     19950    263.0000 C23 C25 C27 S
5 3     2     19950    263.0000 C23 C25 C27 S
6 3     2     19950    263.0000 C23 C25 C27 S

### mutate

In [18]:
# add new columns (features) to a df
# df_with_new_feature <- mutate(df, new_feature=f(current_features))
titanic_df_modified <- mutate(titanic_df, kid_indicator=1*(Age<10))
# the (Age<10) part returns a boolean and we multiply that by 1
head(titanic_df_modified)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked kid_indicator
1 A/5 21171         7.2500       S         0
2 PC 17599         71.2833 C85   C         0
3 STON/O2. 3101282  7.9250       S         0
4 113803           53.1000 C123  S         0
5 373450            8.0500       S         0
6 330877            8.4583       Q        NA

In [19]:
# more examples of mutate
df_new <- mutate(titanic_df, random=log10(Fare)+sqrt(Age))

In [20]:
head(df_new)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked random
1 A/5 21171         7.2500       S        5.550754
2 PC 17599         71.2833 C85   C        8.017402
3 STON/O2. 3101282  7.9250       S        5.998019
4 113803           53.1000 C123  S        7.641174
5 373450            8.0500       S        6.821876
6 330877            8.4583       Q              NA

In [21]:
# create a column with the last names of passengers
df_new <- mutate(titanic_df, last_name=map(strsplit(Name,split=","),1))
# map() is a function in the purrr library to apply a given function to all elements of a list
# strsplit() is a function in base R to split a string or a vector of strings

# It's not working for me for now

ERROR: Error in mutate_impl(.data, dots): Evaluation error: non-character argument.

## Piping

Piping, the feature that makes this better than `pandas`.  

The pipe operator, `%>%`, comes from the `magrittr` library, but when you do `library(tidyverse)` it's already imported.

- `x %>% f` is equivalent to f(x)
- `x %>% f(y)` is equivalent to f(x,y)
- `x %>% f %>% g %>% h` is equivalent to h(g(f(x)))

In [22]:
# df_name_age <- select(titanic_df, Name, Age) is equivalent to
df_name_age <- titanic_df %>% select(Name, Age)

In [23]:
head(df_name_age)

  Name                                                Age
1 Braund, Mr. Owen Harris                             22
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) 38
3 Heikkinen, Miss. Laina                              26
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        35
5 Allen, Mr. William Henry                            35
6 Moran, Mr. James                                    NA

In [24]:
titanic_df %>% filter(Age<2, Survived==0) %>% select(Name)
# piping makes your code flat, instead of nesting stuff (flat structure is better than nested stuff)

  Name
1 Panula, Master. Eino Viljami
2 Goodwin, Master. Sidney Leonard

In [25]:
# df %>% group_by(x,y,...) %>% summarize(p=f(z))
titanic_df %>% group_by(Sex) %>% summarize(avg_age = mean(Age, na.rm=TRUE))

  Sex    avg_age
1 female 27.91571
2 male   30.72664

In [26]:
# you can add and add in your summarize()
titanic_df %>% group_by(Sex) %>% summarize(avg_age = mean(Age, na.rm=TRUE), avg_fare = mean(Fare, na.rm=TRUE))

  Sex    avg_age  avg_fare
1 female 27.91571 44.47982
2 male   30.72664 25.52389

### joins

- `inner_join`
- `left_join`
- `right_join`
- `full_join`
  
  
- `semi_join` (it's like v-lookup in Excel)
- `anti_join`

Example of join:

In [27]:
avg_age_df <- titanic_df %>% group_by(Sex) %>% summarize(avg_age = mean(Age, na.rm=TRUE))

In [28]:
titanic_join_avg_age <- titanic_df %>% left_join(avg_age_df, by='Sex')

In [29]:
titanic_avg_age_ratio <- titanic_join_avg_age %>% mutate(age_ratio=Age/avg_age)

In [30]:
head(titanic_avg_age_ratio)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked avg_age  age_ratio
1 A/5 21171         7.2500       S        30.72664 0.7159910
2 PC 17599         71.2833 C85   C        27.91571 1.3612407
3 STON/O2. 3101282  7.9250       S        27.91571 0.9313752
4 113803           53.1000 C123  S        27.91571 1.2537744
5 373450            8.0500       S        30.72664 1.1390765
6 330877            8.4583       Q        30.72664        NA

In [31]:
# now, a one-line solution using the pipe operator
titanic_avg_age_ratio <- titanic_df %>% 
    group_by(Sex) %>% 
    summarize(avg_age=mean(Age,na.rm=TRUE)) %>% 
    right_join(titanic_df,by='Sex') %>% 
    mutate(age_ratio=Age/avg_age)

### Resources

- https://edav.info/
- cdss_execs@columbia.edu